@import url("./css-resets/reset.css");

:root {
  --primary: hsla(10, 100%, 59%, 1);
  --background: hsla(0, 0%, 95%, 1);
  --foreground: hsla(0, 0%, 91%, 1);
  --border: hsla(15, 10%, 76%, 1);
  --copy: hsla(0, 0%, 0%, 1);
  --copy-light: hsla(60, 1%, 63%, 1);
}

body {
  background-color: var(--background);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  grid-template-columns: 14rem;
  grid-template-rows: 8rem;
}

.grid-container {
  display: grid;
  place-content: stretch;
}

.header-container {
  color: var(--copy);
  grid-area: header;
  display: grid;
  grid-template-rows: 40% 1fr;
  padding: 0rem 3.5rem 0 2.5rem;
}

.sidebar-container {
  grid-area: sidebar;
  padding: 1.5rem 0 0 1.5rem;
}

.main-content-container {
  grid-area: main-content;
  display: grid;
  grid-template-areas: "cards-container aside";
  grid-template-columns: 1fr 20rem;
  /*grid-template-rows: 10rem;*/
}

.icon {
  width: 1rem;
  fill: var(--primary-content);
}

.sidebar-container a {
  text-decoration: none;
  color: inherit;
}

.sidebar-container br {
  margin-bottom: 1.5rem;
}

.logo-container {
  display: flex;
}

#view-dashboard-icon {
  width: 3rem;
  fill: var(--primary);
  &:hover {
    cursor: auto;
  }
}

#logo-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.sidebar-container ul {
  display: grid;
  /*display: flex;*/
  /*flex-direction: column;*/
  gap: 1rem;
}

.icon {
  width: 1.5rem;
}

.sidebar-container ul > li > a {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  &:hover {
    color: var(--primary);
    fill: var(--primary);
  }
}

.sidebar-container .icon:hover {
  fill: var(--primary);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.header-top .icon {*/
/*  fill: var(--copy);*/
/*}*/

.search-bar-container {
  display: flex;
  align-items: center;
  flex-basis: 77.5%;
  gap: 0.5rem;
}

label[for="search-bar"] {
  display: flex;
  align-items: center;
}

#search-bar {
  border: 0;
  background-color: var(--background);
  color: inherit;
  caret-color: var(--copy);
  border-radius: 3px 3px 1rem 3px;
  flex-grow: 1;
  padding-left: 1ch;
  display: flex;
  align-items: center;
  height: 1.5rem;
  border: 1px solid var(--copy);
  border-left: 3px solid var(--copy);
  &:focus {
    /*outline: solid 1px var(--success);*/
    outline: none;
    border-left: 3px solid var(--primary);
  }
}

.notifications-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.trend-icon,
.pfp {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  object-fit: cover;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-buttons-container {
  display: flex;
  gap: 1rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-info > img.pfp {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--primary);
}

.cards-container {
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 0 1rem 0 2rem;
}

.cards-container > .cards-title {
  font-weight: 700;
  display: grid;
  align-items: center;
}

.cards-container > .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.cards > .card {
  padding: 1rem 1rem 2rem 2rem;
  position: relative;
  border: 2px solid var(--copy);
  border-left: 4px solid var(--primary);
  border-radius: 3px 3px 1rem 3px;
}

.card > h3 {
  font-weight: 700;
}

.card-content {
  font-size: 0.9rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.card-buttons {
  /*align-self: flex-end;*/
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.card-buttons > svg:hover {
  fill: var(--primary);
}

aside {
  display: flex;
  flex-direction: column;
}

.announcments-container {
  padding: 0 1rem 0;
}

.announcments-container > h2,
.trending-container > h2 {
  font-weight: 700;
  height: 3rem;
  display: grid;
  align-items: center;
}

.announcments {
  background-color: var(--background);
  display: grid;
  align-items: stretch;
  gap: 1.5rem;
  padding: 1rem;
  /*padding-bottom: 0;*/
  border-left: 3px solid var(--primary);
  border-radius: 3px 3px 1rem 3px;
}

.announcment > h3 {
  font-weight: 700;
}

.announcment > p {
  font-size: 0.8rem;
}

.trending-container {
  padding: 0 1rem 0;
}

.trends {
  background-color: var(--background);
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  border-left: 3px solid var(--primary);
  border-radius: 3px 3px 1rem 3px;
}

.trend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trend-text > h4 {
  font-weight: 700;
  font-size: 0.9rem;
}

.trend-text > p {
  font-size: 0.8rem;
}

.icon:hover {
  cursor: pointer;
  fill: var(--primary);
}

button {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--copy);
  border-left: 3px solid var(--copy);
  box-shadow: none;
  border-radius: 3px 3px 1rem 3px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  &:hover {
    color: var(--copy);
  }
}

.username {
  font-weight: 700;
}
